[build]
builder = "NIXPACKS"

[deploy]
startCommand = "./gradlew bootRun"
healthcheckPath = "/actuator/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "habit-tracker-api"

[services.variables]
DATABASE_URL = "${postgresql.DATABASE_URL}"
DATABASE_USERNAME = "${postgresql.USERNAME}"
DATABASE_PASSWORD = "${postgresql.PASSWORD}"
PORT = "8080"

[[services]]
name = "habit-tracker-frontend"
source_dir = "frontend/dist"
healthcheckPath = "/"
healthcheckTimeout = 30
