[build]
builder = "NIXPACKS"

[deploy]
startCommand = "gradle bootRun"
healthcheckPath = "/actuator/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "habit-tracker-api"

[services.variables]
DATABASE_URL = "postgresql://postgres:BVfnLaoReUAtDINdWdtrvirdSqCGFiYq@containers-us-west-1.railway.app:5432/railway"
DATABASE_USERNAME = "postgres"
DATABASE_PASSWORD = "BVfnLaoReUAtDINdWdtrvirdSqCGFiYq"
PORT = "8080"
SPRING_PROFILES_ACTIVE = "railway"

[[services]]
name = "habit-tracker-frontend"
source_dir = "frontend/dist"
healthcheckPath = "/"
healthcheckTimeout = 30
